<%= render(
  layout: 'shared/a/base',
  :locals => {
    browser_title: 'Usuarios / nuevo',
    section: 'administration',
    breadcrumbs: {
      crumbs: [ { name: 'Usuarios', path: users_path } ],
      active_label: "Nueva"
    },
    has_return: true,
    return_path: users_path
  }
) do %>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h5>Nuevo usuario</h5>
      <hr>

      <%= render 'form', user: @user %>
    </div>
  </div>
<% end -%>
