<p>Reporte diseño mod</p>
  Reporte diseño mod entre las fechas <%= Date.parse(@start_date).strftime("%Y/%m/%d") %> y <%=  Date.parse(@end_date).strftime("%Y/%m/%d")   %>
  <br>
  Generado autómaticamente el <%= Time.now.strftime("%Y/%m/%d/%H:%M:%S") %> por <%= "#{@user.firstname}#{@user.lastname}" %>
<p>
  Equipo
  <br>
  <b>(SAPSB) Secretar&iacute;a de Agua Potable y Saneamiento B&aacute;sico</b>
</p>
