<p>Reporte FIA</p>
  Reporte FIA para el año <%= @year %>
  <br>
  Generado autómaticamente el <%= Time.now.strftime("%Y/%m/%d/%H:%M:%S") %> por <%= "#{@user.firstname}#{@user.lastname}" %>
<p>
  Equipo
  <br>
  <b>(SAPSB) Secretar&iacute;a de Agua Potable y Saneamiento B&aacute;sico</b>
</p>
